h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

table th,
td {
    text-align: center;
    border: 1px solid black;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

table.center {
    margin-top: auto;
}

table th,
td {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
}

table.left {
    margin-top: auto;
}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

div.static body {
    text-align: center;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid;
}

div.sticky {
    position: sticky;
    right: 80px;
    width: 200px;
    height: 250px;
    border: 3px solid #73AD21;
}

section {
    text-align: center;
}