h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    position: relative;
    display: block;
    display: inside;
    border-radius: 50%;
}

table th,
td {
    text-align: center;
    border: 1px solid darkblue;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

table.center {
    margin-top: auto;
}

table th,
td {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
}

table.left {
    margin-top: auto;
}

div.relative {
    position: relative;
    left: 30px;
}

div.sticky {
    position: sticky;
    right: 5px;
    width: 200px;
    height: 250px;
    border: 3px solid #73AD21;
}

section {
    text-align: center;
}

body {
    color: darkblue;
    background-color: darkolivegreen
}